<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>updateDefineNeural</key>
    <string>BirchLayerDepot</string>
    <key>resilientListviewTemplateDetect</key>
    <string>ResolverBrainPlannerCollectorSuper</string>
    <key>datasetterUponExportTangible</key>
    <string>PetiteWorldTame</string>
    <key>hardDelegate</key>
    <string>DuringForce</string>
    <key>lastingTone</key>
    <string>PaintHeathReport</string>
</dict>
</plist>
