<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>profilePresenter</key>
    <string>MigrateQueueCompare</string>
    <key>policyPainter</key>
    <string>WealthyTulipMediatorJudiciousPlacid</string>
    <key>workflowAnimatorLoyal</key>
    <string>SiteJunctionCalmRestore</string>
    <key>domeOutlineVisibleTexture</key>
    <string>OutsidePauseHeartyPrint</string>
    <key>wingWaitDramatic</key>
    <string>SaveDaintyCreatorFacade</string>
    <key>paintMoor</key>
    <string>PageOpenWatchTorch</string>
</dict>
</plist>
