<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sandStylerJadeCache</key>
    <string>LastingBrokerLeap</string>
    <key>audioUpdaterDecent</key>
    <string>DeriveThreadAssemblerShortcut</string>
    <key>panelPlayfulApplyRenderer</key>
    <string>ValuableTranslateCancelWhiteMake</string>
    <key>unusualOpenTextureFont</key>
    <string>ScaleManageMaskTag</string>
    <key>candidBufferCollectionPaint</key>
    <string>TimelyTrainCataloger</string>
    <key>packageSharpFor</key>
    <string>LogicValidateOutsideSubmitQuota</string>
    <key>shaderToPrecious</key>
    <string>ForOuterMark</string>
    <key>summitValidArrayCalculate</key>
    <string>AlongsideCatalogerSpiritWorkflowAnimator</string>
</dict>
</plist>
