<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>drawArtfulCommand</key>
    <string>AssembleTryCataloger</string>
    <key>kineticBundleReadPainter</key>
    <string>OfFormalTeam</string>
    <key>workflowAnimatorSublimeMountThorn</key>
    <string>VaporCollectionThemePoplar</string>
    <key>snappyCompatible</key>
    <string>TerminalToolBalancerStrong</string>
    <key>transitLastingConverterVerify</key>
    <string>IsletLocator</string>
    <key>controlOrchestratorQualityFind</key>
    <string>VisitorApplyAnalyzeReplace</string>
    <key>withinShaderSubtleSky</key>
    <string>FleetEpisodeSubtleMask</string>
    <key>warehouseStair</key>
    <string>CrestlineMenuArray</string>
    <key>formatDataReferenceElite</key>
    <string>HintedSubtleContext</string>
</dict>
</plist>
