<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>yieldingTextureViewModelEnqueue</key>
    <string>AddBindExtra</string>
    <key>mapLayoutCivic</key>
    <string>YearHoldOptimize</string>
    <key>fastComposer</key>
    <string>DataSourceWorkbenchTryHaze</string>
    <key>etherealTerminalGenerate</key>
    <string>WorkflowAnimatorResumeHideIconicElm</string>
    <key>factoryCreateStairBasic</key>
    <string>ContextHubDashboardDispatch</string>
    <key>defineAttach</key>
    <string>AmongAgileStylerPoplar</string>
    <key>drawEnumGlacierUltimate</key>
    <string>PortraitWayTo</string>
    <key>wavyFacadeFacetLock</key>
    <string>UpdatePlannerIdleHost</string>
</dict>
</plist>
