<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>winsomeParser</key>
    <string>InsertPreviewDefine</string>
    <key>floraPresenterFresh</key>
    <string>SolidSnackbarShowThreaded</string>
    <key>commandTrustedWatchLayout</key>
    <string>SnapshotterDismissRecordOrganizer</string>
    <key>mapperUpgradeGiganticFrom</key>
    <string>ScheduleSeaController</string>
    <key>angleUprightViewportReset</key>
    <string>ListZealousDismissLevelImplement</string>
    <key>neutralPreviewJubilant</key>
    <string>PastMergeNavigatorExtract</string>
    <key>presenterRemoveParametric</key>
    <string>LaunchGlobeCreekDelicate</string>
    <key>facadeTrustworthy</key>
    <string>HandlerDefinitePortrait</string>
    <key>neutralSurfaceFacetNavigate</key>
    <string>WithinExtractMineShow</string>
    <key>keenSpectrumResizeKey</key>
    <string>ArrayResolverParser</string>
</dict>
</plist>
