<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>parallelFormatterSprite</key>
    <string>LedgeGridQuietOnyx</string>
    <key>parseWorkflowAnimatorDapperRoadmap</key>
    <string>CrownUpdaterMainLoad</string>
    <key>spectrumBehindCool</key>
    <string>WellEnumCollectorInformation</string>
    <key>throughoutCatalogerSturdyPearl</key>
    <string>DesertCrystalAttachStart</string>
    <key>thornCoordinator</key>
    <string>TerminalUnifiedLattice</string>
    <key>logicalSaver</key>
    <string>SetDeepCloseFabric</string>
    <key>projectorMeasureGifted</key>
    <string>DropMoorSplit</string>
    <key>complexPrismHoldFactory</key>
    <string>MapperPrintCatalog</string>
</dict>
</plist>
