<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>refreshDelegateCuratedDirectory</key>
    <string>NavigateOpenPastToward</string>
    <key>bindGrandEnvelope</key>
    <string>EqualCelestialLoader</string>
    <key>fleetingSpectrumBeyondCreator</key>
    <string>SiteLayoutMelodyInterpreter</string>
    <key>rockRenderer</key>
    <string>DuskTargetTorchHeaderDatasetter</string>
    <key>interactorPaintSnapshotterExact</key>
    <string>StretchPreviewHumane</string>
    <key>viewportLoadExpert</key>
    <string>BoundCompatibleDownAggregate</string>
</dict>
</plist>
