<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>transformerContent</key>
    <string>PlannerCounterInterpreterValleySort</string>
    <key>builderStorage</key>
    <string>RevokeSubmitFabricBind</string>
    <key>faintStrong</key>
    <string>PreciseBeginDecorator</string>
    <key>transitDatasetterOaken</key>
    <string>MigrateSpeckledStoreScroll</string>
    <key>rockComposerRefresh</key>
    <string>ResetPlannerVisualizeGentle</string>
    <key>collectorToolbarExquisite</key>
    <string>BinderImportOriginHelper</string>
</dict>
</plist>
