<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>worthyMapperNearTrim</key>
    <string>ForwardTimelineCalculate</string>
    <key>savePluginOwner</key>
    <string>ProfileAddAccurateStrength</string>
    <key>formatterGenerousRaven</key>
    <string>ZealousWellLoadCoordinator</string>
    <key>fondShader</key>
    <string>TimelineRestoreTextureSchedulerHandler</string>
    <key>cancelScaffold</key>
    <string>VoiceWithoutCoordinate</string>
    <key>eminentConverterJubilantTrain</key>
    <string>ElementWiseDismissEdgeSharp</string>
    <key>qualityComposerUpgradeDuring</key>
    <string>BrokerCloseStay</string>
    <key>museCheckScheduler</key>
    <string>VisitorShadeCacheEndless</string>
    <key>startHeavenSelectorPeaceful</key>
    <string>FancyPresenterFile</string>
</dict>
</plist>
