<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>checkMuse</key>
    <string>InterpreterVesselDiamondPrimal</string>
    <key>iconicTriggerSort</key>
    <string>LabelCatalogerRefreshCurated</string>
    <key>captureTheme</key>
    <string>FrostOntoPersist</string>
    <key>healthyRendererVisitorShow</key>
    <string>CoralSyncTulipUpon</string>
    <key>bridgeFeasibleTerminal</key>
    <string>EarthDialogBaseline</string>
</dict>
</plist>
