<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>writeThinModel</key>
    <string>VirtuousElementUntilPreview</string>
    <key>tableTryCurated</key>
    <string>ViaLastingElmCancel</string>
    <key>workflowAnimatorSand</key>
    <string>RangeLockPackTheme</string>
    <key>vineBareMigrateMapper</key>
    <string>CatalogerBesideFetch</string>
    <key>factoryStorage</key>
    <string>SurfCircuitGlobeCore</string>
    <key>layoutReactive</key>
    <string>SelectConcurrentDatasetter</string>
    <key>chainStoreCore</key>
    <string>BalancerCoreMelody</string>
    <key>printSublime</key>
    <string>WinterOrderlyHandleSurf</string>
    <key>archiveRoundedClip</key>
    <string>SurfaceSearchCoordinator</string>
</dict>
</plist>
