<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signerSupreme</key>
    <string>DaleRealmOutside</string>
    <key>projectorPreviewLedge</key>
    <string>PlannerAfterPresenterMomentViewModel</string>
    <key>deltaConvertTemplateRare</key>
    <string>GetUpdaterOpen</string>
    <key>renderWarehouseUnified</key>
    <string>InAlignOffStyler</string>
    <key>systemWild</key>
    <string>LibraryContainerConstructQuirk</string>
    <key>organizerCompute</key>
    <string>RendererAcrossAssignResume</string>
    <key>lockElasticViewport</key>
    <string>MeadowViewModelJasper</string>
    <key>linkHandle</key>
    <string>TempleTonePlanet</string>
</dict>
</plist>
