<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>textureInterpreterQuintessentialNavigate</key>
    <string>CoderSignerDefined</string>
    <key>ofEarnest</key>
    <string>IndexLargeEndHubset</string>
    <key>vibrantLoaderViewModelFormat</key>
    <string>FromSeaUpright</string>
    <key>warehouseVivid</key>
    <string>UnderToastSpectrumDevice</string>
    <key>saveCentral</key>
    <string>TertiaryHelperStyleCollection</string>
    <key>hazeConsolidate</key>
    <string>SchedulerBuildFabric</string>
</dict>
</plist>
