<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shuffleSignalTerminal</key>
    <string>FindCompactBundleUtmost</string>
    <key>operandProjectorWiseHighlight</key>
    <string>JoyfulCancelUp</string>
    <key>offClass</key>
    <string>CompactWaterMount</string>
    <key>gladEnum</key>
    <string>ParserSetSolution</string>
    <key>snowOrchestratorMultiplyPrime</key>
    <string>ViewInterpreterGlacierPlayYield</string>
</dict>
</plist>
