<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thinBrokerEndSymbol</key>
    <string>MoorSelectorMapperNeural</string>
    <key>torchVisitorMakeEarnest</key>
    <string>BadgeAmongMergeHardy</string>
    <key>projectorLatticePrimePause</key>
    <string>DepotSnowFilled</string>
    <key>signalCollection</key>
    <string>PromiseRealmFontRoyal</string>
    <key>tooltipMindful</key>
    <string>SongTransformableAtlas</string>
    <key>overlaySubmitSnapshotterClassic</key>
    <string>ProjectorFillHumane</string>
    <key>terminalWatchHappy</key>
    <string>CoordinateThroughBuilderReceiveScale</string>
    <key>coordinatorDetect</key>
    <string>UpbeatRunTuple</string>
    <key>returnBridge</key>
    <string>HighlightHeaderWorkbench</string>
</dict>
</plist>
