<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ambientThrottleHeaderViewport</key>
    <string>GorgeOntoStreamToward</string>
    <key>startCollectorRare</key>
    <string>AtlasTrueConsolidateSurface</string>
    <key>rendererProgramRegisterChief</key>
    <string>CloseOfEndDataSource</string>
</dict>
</plist>
