<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>datasetterHighlightLedgePrompt</key>
    <string>CoreOceanOpen</string>
    <key>rotateEarnestPolicyParser</key>
    <string>WarehouseConductorModifyReturn</string>
    <key>timelineSupremeThorn</key>
    <string>SunnyHighlightSearchDeltaOff</string>
    <key>trainWellMindfulConverter</key>
    <string>ProjectorDialogUrban</string>
    <key>threadedConnectorPanel</key>
    <string>BrightWavyUp</string>
    <key>packPresenter</key>
    <string>HardSnapshotFlameInitialize</string>
    <key>refinedCollector</key>
    <string>WaitAssemblerSpiceSet</string>
    <key>crownThroughoutWorkbench</key>
    <string>FillPlannerWidgetRaven</string>
</dict>
</plist>
