<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>textureMove</key>
    <string>StoneChatCoordinatorAccept</string>
    <key>stylerExpand</key>
    <string>LaunchCaptureCoolWarehouse</string>
    <key>themeReflexiveBuild</key>
    <string>BaseSliceInitializeCreate</string>
</dict>
</plist>
