<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>exactGladeDelegateShadow</key>
    <string>HighlightFileMount</string>
    <key>nativeWingWorkflowAnimator</key>
    <string>SliceAcrossPeak</string>
    <key>reservoirReplay</key>
    <string>InsertDefineChat</string>
    <key>bareViewModelPrint</key>
    <string>AmidAppendMark</string>
</dict>
</plist>
