<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>slipDuringFormatterProper</key>
    <string>StripeBuilderPaginate</string>
    <key>holdSlideWorkbenchDefinite</key>
    <string>ViewportHumaneDocumentTransform</string>
    <key>aroundElement</key>
    <string>ReleaseTactfulPersist</string>
    <key>compositeHubsetUp</key>
    <string>ApplyPushLabel</string>
    <key>intoCoordinatorTrusted</key>
    <string>LockDrawAgainstDusk</string>
    <key>thickCompareProjector</key>
    <string>MoveMergeCentral</string>
</dict>
</plist>
