<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>renderLedge</key>
    <string>ComposerThroughoutEnqueueUpdateSupply</string>
    <key>facadeWidescreenRegister</key>
    <string>FocusRoundPushModal</string>
    <key>chainIvoryAcross</key>
    <string>GlobeEndEnqueue</string>
    <key>friendlyLakeAfter</key>
    <string>WorthMapperQuality</string>
</dict>
</plist>
