<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handsomeFacade</key>
    <string>CoordinatorSheet</string>
    <key>theorySchedule</key>
    <string>RobustPineExpandWay</string>
    <key>sleekSteamAmid</key>
    <string>UprightScaleBelowPower</string>
    <key>modifyHelper</key>
    <string>WarehousePushLeanSchedule</string>
    <key>mineArrayRusticRun</key>
    <string>CloseTerminalEarth</string>
    <key>builderIconPackLayout</key>
    <string>TransformerFinishExpandedMigrate</string>
</dict>
</plist>
