<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>universalWorkbench</key>
    <string>ScrollSelectorCourierNamespace</string>
    <key>mutualSuiteConfig</key>
    <string>AgainstReplaySwiftPromise</string>
    <key>braveHubBroker</key>
    <string>StandQuirkShader</string>
    <key>energeticDelegateClip</key>
    <string>AbstractKineticLaunch</string>
    <key>manageTerminalBefore</key>
    <string>ManifestEndAcrossCreate</string>
    <key>vividSchedulerConstruct</key>
    <string>HideElevateEnable</string>
    <key>aggregateWorkbench</key>
    <string>BalancedStencilPathwayRemoveConstruct</string>
    <key>alignMightLayoutElite</key>
    <string>ProudHandleAmbient</string>
</dict>
</plist>
