<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>replayDynamicBalancer</key>
    <string>FocusedPresenterConductorRevoke</string>
    <key>loyalBridgeTemplate</key>
    <string>ForReturn</string>
    <key>controllerUnified</key>
    <string>ReferenceCreatorCheckHelper</string>
    <key>playCreatorQuick</key>
    <string>EnqueueBuildStopOrnate</string>
    <key>frugalClipStencil</key>
    <string>HarnessVividMark</string>
</dict>
</plist>
