<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>roundToast</key>
    <string>ImportKeypathDistant</string>
    <key>decoratorHideWing</key>
    <string>ViewportFromGorgeAppendWilling</string>
    <key>makeQuirkConverter</key>
    <string>PineSturdyCollection</string>
    <key>radarScheduler</key>
    <string>DropdownWorkUpdater</string>
</dict>
</plist>
