<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>painterWisdom</key>
    <string>CompressGraciousDraw</string>
    <key>privateDatasetter</key>
    <string>OrderOfGroup</string>
    <key>trendGet</key>
    <string>EliteHistoryAttach</string>
    <key>tulipArrayFocused</key>
    <string>CalibrateResolverUpdater</string>
</dict>
</plist>
