<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>projectorDensePromiseDrop</key>
    <string>CardScanCandidVibrant</string>
    <key>thinParserBoardOutside</key>
    <string>KindredRemoveSensor</string>
    <key>transformerLushDetectSpectrum</key>
    <string>RenderInitializeWorkflowAnimator</string>
    <key>persistHybridLotusConverter</key>
    <string>AlongsideLushArrayKeypath</string>
</dict>
</plist>
