<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>zonalCoordinatorRangeCancel</key>
    <string>MountVesselViaTry</string>
    <key>postboxConverterGrowing</key>
    <string>ConductorGarden</string>
    <key>restoreDelegateLucid</key>
    <string>PassageConstructFriendly</string>
    <key>sternConduitTransformTheme</key>
    <string>HoldParametricByTabview</string>
</dict>
</plist>
