<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>jewelBreezy</key>
    <string>RotateSpiritPearl</string>
    <key>exactCheckEmber</key>
    <string>TallWidescreenClean</string>
    <key>painterStringOpenNeat</key>
    <string>FetchOption</string>
    <key>layoutControllerHelper</key>
    <string>LockRationalSpiritedCross</string>
    <key>throttleCentralStemSaver</key>
    <string>FlowWindowKey</string>
    <key>terminalCompatible</key>
    <string>ReliefStartAuroraVibrant</string>
</dict>
</plist>
