<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mightCoordinateLargeSelector</key>
    <string>ModifyConstructStory</string>
    <key>royalUntil</key>
    <string>ReactiveThick</string>
    <key>balancerAlongsideIterativeRing</key>
    <string>EstuaryPresentPluginNature</string>
    <key>toolbarOptimalAfterViewport</key>
    <string>CliffBundleImplementCoordinator</string>
    <key>rotateIconic</key>
    <string>HandlerCoralPeak</string>
    <key>willingFolder</key>
    <string>InGoodVast</string>
</dict>
</plist>
