<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>reliableShuffleFactoryBundle</key>
    <string>EdgeSearchScroll</string>
    <key>runSteel</key>
    <string>SolutionTrend</string>
    <key>macroModifyDataSourceCrystal</key>
    <string>AtMapperWaitStencil</string>
    <key>earthFacade</key>
    <string>OntoAmongCupertinoKind</string>
    <key>templateMaskPositive</key>
    <string>CrystalVerify</string>
</dict>
</plist>
