<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>hillFitImplement</key>
    <string>NotebookStory</string>
    <key>defineDuringEasyPort</key>
    <string>BriefBaselineThreadInterpreter</string>
    <key>handleCoordinator</key>
    <string>MigrateBrainCohesive</string>
    <key>watchDurable</key>
    <string>TransformableBlockHumor</string>
    <key>aboveCrisp</key>
    <string>PastToForcefulIndex</string>
    <key>handlerSecureMountainApply</key>
    <string>WatchKeyTimelineAfterUnder</string>
    <key>besideShaderStableAppBar</key>
    <string>DelegateExpandDensePassage</string>
    <key>sharpQueue</key>
    <string>TopmostEnvelopeInitializePreload</string>
</dict>
</plist>
