<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>collectionAgainstEnvelopeExpanded</key>
    <string>LegacyAcrossViewportShader</string>
    <key>organizerWaitRich</key>
    <string>AmidSkillValidate</string>
    <key>behindLanguageExtra</key>
    <string>OrnateCascadeHighlight</string>
    <key>scrollSuiteOdd</key>
    <string>StoneGetShoreFontMigrate</string>
    <key>sortDelegateIndex</key>
    <string>WorldTrendRiver</string>
    <key>spectrumValidateDenseTower</key>
    <string>FinishWindPanelDelegate</string>
    <key>assembleDepot</key>
    <string>PositionResourceMapDismissStar</string>
    <key>enumNavigateSpontaneousYield</key>
    <string>ToolMatchSearchNotebook</string>
</dict>
</plist>
