<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>urbanAccept</key>
    <string>RangeMeasureYieldingPaletteLayer</string>
    <key>timelineToCivic</key>
    <string>DesertAtlasCanvasDropStem</string>
    <key>courierSpectrum</key>
    <string>DatasetWidescreenStageOpal</string>
    <key>mapperLaunchNorthWavy</key>
    <string>OwnerExtractWithin</string>
</dict>
</plist>
