<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>painterKnownUponPackage</key>
    <string>VisionAttachPassageRestore</string>
    <key>workbenchSubtleReport</key>
    <string>ThroughoutWorkbenchWarehouseInference</string>
    <key>backupKindredSelectorApply</key>
    <string>LiberalSendSimple</string>
    <key>selectorResolverNascentCompute</key>
    <string>BasinPureFinishPrint</string>
</dict>
</plist>
