<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ivorySwirlMake</key>
    <string>MapPresentIn</string>
    <key>buttonTimelineSolidSchedule</key>
    <string>LoaderOutputSelectorWhisper</string>
    <key>surgeHighlight</key>
    <string>IconPackUpReport</string>
    <key>clusterSurfaceAcross</key>
    <string>CaptureSpeakSelectorTensePortal</string>
    <key>optionParserEnqueueUrban</key>
    <string>AlignPoplarFirm</string>
    <key>orbitTransformYielding</key>
    <string>ContentOasisSpice</string>
    <key>selectPreciousDatasetCollection</key>
    <string>HybridCancelDirectAccurate</string>
</dict>
</plist>
