<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dataSourceMeasureStep</key>
    <string>ClipRestoreDetect</string>
    <key>civicStandBalancer</key>
    <string>RoundReplayRunPause</string>
    <key>viewportMoorWrite</key>
    <string>HideOpenShaderOwl</string>
    <key>manifestThrottleParser</key>
    <string>ConcurrentMakePresenter</string>
    <key>sendHumorTransformerTense</key>
    <string>RockBalancerSaveRead</string>
    <key>premierAppend</key>
    <string>InsertResizeSuite</string>
    <key>leafMeasuredSignerOver</key>
    <string>HiveContinueAvatar</string>
</dict>
</plist>
