<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fillHandlerElastic</key>
    <string>ModifyStripeOutputResolver</string>
    <key>counterReference</key>
    <string>BlitheVisualizeModular</string>
    <key>heroicAlongside</key>
    <string>ModifyAlignStableImport</string>
    <key>eminentDropWorkConverter</key>
    <string>MergeGlobeLaunch</string>
    <key>flatMoveAssembler</key>
    <string>ShareFlameResponsive</string>
    <key>keyCloseFactoryPleasant</key>
    <string>PeacefulAlongsideZoneFont</string>
    <key>quintessentialAssemblerSpiritRotate</key>
    <string>MacroPreview</string>
    <key>pleasedSnapshotterWatch</key>
    <string>TorchObviousOpal</string>
    <key>signerTimeless</key>
    <string>FormatterWireless</string>
</dict>
</plist>
