<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mapperPushAlcove</key>
    <string>LabelHelperStayContinue</string>
    <key>sweetFactoryDawn</key>
    <string>OnReplacePaginate</string>
    <key>wittyCoordinate</key>
    <string>FeatureFixConsolidateOptimize</string>
    <key>captureBalancerPureCounter</key>
    <string>TrendMarkSeaTreat</string>
    <key>upwardStencilParadise</key>
    <string>RecordOverSchedule</string>
    <key>fastLocalize</key>
    <string>CollectionCheckConnector</string>
    <key>friendlyEnum</key>
    <string>DesertAddReal</string>
    <key>alertCentral</key>
    <string>WorkbenchPushSurfaceAlertConfigure</string>
</dict>
</plist>
