<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>symbolTrue</key>
    <string>SplitRead</string>
    <key>threadedDeltaCalibrate</key>
    <string>ClusterAcross</string>
    <key>broadScheduleForcePlanner</key>
    <string>AssetSignerLink</string>
    <key>aerialSilverGenerate</key>
    <string>CollectionUniversalFine</string>
    <key>upbeatMeasurePrismConnector</key>
    <string>ReferenceMatchEdgeMap</string>
    <key>celestialTriggerFactoryDrop</key>
    <string>OfSpringStoryDatasetter</string>
    <key>wealthOrchestratorComplexConstruct</key>
    <string>RockThreadScene</string>
    <key>simpleDatasetterSync</key>
    <string>ReturnContextDataSource</string>
    <key>forFairy</key>
    <string>HandsomeThroughAssemble</string>
    <key>artfulCollectionEndSong</key>
    <string>ToGood</string>
</dict>
</plist>
