<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>eminentHandleSelectorAdapter</key>
    <string>DesertBufferPresentOriginalReturn</string>
    <key>errorFormatter</key>
    <string>InsideControllerKnownTexture</string>
    <key>brokerYear</key>
    <string>GlobeEmitterAtlasMap</string>
    <key>sortTrail</key>
    <string>ParserRiverDashboardTerse</string>
</dict>
</plist>
