<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>viewportShorePreciseScale</key>
    <string>BelowBindIconPackBase</string>
    <key>ontoGranular</key>
    <string>PlainShowTargetSphereTuple</string>
    <key>assemblerCompressViewport</key>
    <string>CarefreeBrainPoolDuringTiny</string>
    <key>cacheTheory</key>
    <string>StylerAssemblerAlong</string>
    <key>textureRobust</key>
    <string>AmidFlameConnect</string>
    <key>balancerReactive</key>
    <string>PieceWinter</string>
    <key>ledgerResolverMove</key>
    <string>EndlessGetGuideVisitorMature</string>
    <key>transformerBrisk</key>
    <string>RetreatDispatchAroundSave</string>
    <key>balancerStrike</key>
    <string>VectorRotateCluster</string>
</dict>
</plist>
