<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pageHandle</key>
    <string>ControlFrameConstruct</string>
    <key>implementSolutionCloseHandsome</key>
    <string>GenerateCrispDryIdleFind</string>
    <key>angleFill</key>
    <string>RareUpbeatRound</string>
    <key>waryFormatterAnalyzeChannel</key>
    <string>HoldVerifyExactBeside</string>
    <key>phoenixVisitor</key>
    <string>MagicalHintedUrbanImplement</string>
    <key>shadowReferenceVastChart</key>
    <string>WorkbenchImportCalibrateSlate</string>
    <key>coralCoordinatorCentral</key>
    <string>BesideConstructGate</string>
    <key>buildMediaBold</key>
    <string>PainterPaintCacheLinePhoenix</string>
    <key>coordinateHumaneSpectrumController</key>
    <string>OwnerPastBeyond</string>
    <key>withoutCreatorBulky</key>
    <string>PlannerHandlerSaver</string>
</dict>
</plist>
