<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>paintLightSupply</key>
    <string>GuidebookPastFluentAtlasMap</string>
    <key>beginTerminal</key>
    <string>PresenterLoaderWatchMagnet</string>
    <key>cleverSensor</key>
    <string>MountSkilledAmongApply</string>
    <key>balancedHorizon</key>
    <string>WriteAnimateHandlerJovial</string>
    <key>overSafeSolar</key>
    <string>WarehouseViewportOutline</string>
    <key>boldCatalogerModulePersist</key>
    <string>MapperPlaySublime</string>
    <key>manageFormatterSpatial</key>
    <string>WatchBalancedLively</string>
</dict>
</plist>
