<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>eminentViewport</key>
    <string>PolishedPanelReceive</string>
    <key>streamSolidWorkbenchDisplay</key>
    <string>MemoryBundleLevelCliffIntact</string>
    <key>passiveTreat</key>
    <string>PerformDominantProjectorPine</string>
    <key>replaceFactoryConsole</key>
    <string>DramaticSkyDainty</string>
    <key>animateDecoratorHardySpeak</key>
    <string>StoryNeuralFixWitty</string>
    <key>tableBrilliantRestoreFabric</key>
    <string>ReplayAmidWorkflowAnimatorNeutral</string>
    <key>timelineRestore</key>
    <string>AtlasMapFlowDispatch</string>
    <key>workbenchOasis</key>
    <string>ModuleCoreDecompressTransformableInitial</string>
    <key>lawfulFaint</key>
    <string>FlexibleElmNeatImport</string>
</dict>
</plist>
