<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>jovialController</key>
    <string>ResetRestTemplate</string>
    <key>facadeFair</key>
    <string>RadiantGreenTemplate</string>
    <key>structureSyncConductor</key>
    <string>OnyxLargeLoadReference</string>
    <key>snappyWorkflowAnimatorOrder</key>
    <string>VoiceLabelPristineSelector</string>
    <key>findPainter</key>
    <string>QuillJustSpatialGuide</string>
    <key>hubsetSetSignerWilling</key>
    <string>OntoEnumFocalSubmit</string>
</dict>
</plist>
