<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>untilBuilderSolidVoice</key>
    <string>AnalyzeSeamlessOrder</string>
    <key>configClassAttachPremier</key>
    <string>ShoreActionWind</string>
    <key>happyTimerCollector</key>
    <string>SurfaceOriginJungle</string>
    <key>workflowAnimatorWide</key>
    <string>SteelPainterScan</string>
    <key>cardPackReliable</key>
    <string>SublimeUpgrade</string>
    <key>reservoirHeaderRestore</key>
    <string>PhoenixEnumShaderClip</string>
    <key>deriveBuffer</key>
    <string>SensorDelegateUponFindParcel</string>
    <key>coreMountainBraveHighlight</key>
    <string>ShaderAlongMixerNavigator</string>
</dict>
</plist>
