<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>againstScene</key>
    <string>StylerShaderSaverLibraryStore</string>
    <key>scrollFlash</key>
    <string>EnumPolicyTransformer</string>
    <key>pauseSeamlessDecorator</key>
    <string>SourceTransformerMutualColor</string>
    <key>assemblerMethodNearTame</key>
    <string>RecordLitheHandleList</string>
    <key>finishRadiant</key>
    <string>ViewportModernImplement</string>
    <key>mapperUpwardChasmThrottle</key>
    <string>GlobeOverTreasure</string>
    <key>placeResolverPast</key>
    <string>MysticGateConstructRealm</string>
    <key>displayDelegate</key>
    <string>InteractivePositionerRotate</string>
</dict>
</plist>
