<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>archiveWithinBrave</key>
    <string>KeypathSyncPaint</string>
    <key>timelyMeadow</key>
    <string>PlazaClipCarefulSuper</string>
    <key>accelerateControllerOverlayZonal</key>
    <string>ManageWindUniqueCancel</string>
    <key>timelineBreakSmooth</key>
    <string>CrispInHazeCleverOff</string>
    <key>expandedAssignHistory</key>
    <string>TulipComputeArrayRegion</string>
    <key>resetCollectorYield</key>
    <string>BlueprintArchive</string>
</dict>
</plist>
