<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>timelessOrchestratorPrint</key>
    <string>AtlasPlayBuilder</string>
    <key>spontaneousBinderViaDirectory</key>
    <string>InterpreterTry</string>
    <key>pureFrostReturnFacade</key>
    <string>SpeakThreaded</string>
    <key>daintyMigrate</key>
    <string>UponTransformerPortal</string>
    <key>modifyWillingStretch</key>
    <string>FillPlayModule</string>
    <key>plannerValidThrottle</key>
    <string>DrawClipAmong</string>
    <key>wholeGuideTupleLoad</key>
    <string>JubilantRowAgainstReplace</string>
    <key>exquisiteContentImportRenderer</key>
    <string>UntilCarefulOpenMighty</string>
    <key>definedThroughTacticHelper</key>
    <string>InteractorHoldWindow</string>
    <key>bindModular</key>
    <string>EarnestThroughoutAssemblerFormat</string>
</dict>
</plist>
