<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>honestPool</key>
    <string>RiverDismissPacific</string>
    <key>snappyWorkbench</key>
    <string>ClassFormalCancel</string>
    <key>againstArtifact</key>
    <string>CoderOutsideManifestBulky</string>
    <key>smoothDynamic</key>
    <string>EnableBeyondPetal</string>
</dict>
</plist>
