<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>returnProtect</key>
    <string>BesideFixTheoryStorm</string>
    <key>depotUnifiedTerminalDrop</key>
    <string>DuringRendererTidePause</string>
    <key>shortcutDecoratorContinueDense</key>
    <string>DiscreteLimitSendSaver</string>
    <key>selectorCalculate</key>
    <string>WinsomeCatalogDatasetter</string>
    <key>justArraySandCompute</key>
    <string>GlacierStencil</string>
    <key>stemWorkflowAnimatorHideLean</key>
    <string>TransformableFacadeWreath</string>
</dict>
</plist>
