<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>iconPackElevatedSearch</key>
    <string>AssembleCheckListRenderer</string>
    <key>boardBrokerHandyMask</key>
    <string>WreathRemoveOver</string>
    <key>pauseValuableImplementTreasure</key>
    <string>SignerManageApplyController</string>
    <key>ontoCollectionTacticLoose</key>
    <string>FormatterFixSun</string>
    <key>magicalStructurePainterStart</key>
    <string>SlipSpeakFolder</string>
    <key>amongLoyalSnapshotterAirflow</key>
    <string>JudiciousEdgeLeafFalls</string>
    <key>genuineSense</key>
    <string>PluginOverThemeEdgeMap</string>
    <key>collectionGlade</key>
    <string>UnifiedConnectorMap</string>
</dict>
</plist>
