<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animateDeviceCollectorLocal</key>
    <string>WorkBuildTupleUpon</string>
    <key>tonalShoreBegin</key>
    <string>CanvasGrandLayout</string>
    <key>messageStart</key>
    <string>AlongsideBrokerClass</string>
    <key>viewModelPiece</key>
    <string>CollectionLedgeSnapshotter</string>
    <key>stripeRegisterTrustworthy</key>
    <string>VoyageDataOverCourier</string>
    <key>fromSpeakOrganizer</key>
    <string>PauseHeaderMixerCompatible</string>
    <key>resilientSpeakInsert</key>
    <string>ShaderSurge</string>
</dict>
</plist>
