<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>enqueueAdapterThin</key>
    <string>TransformerReceiveFleetPlaza</string>
    <key>shaderPath</key>
    <string>RadarStrikeContextPromise</string>
    <key>starGenerateTimely</key>
    <string>TextureForceCalculatePrivate</string>
    <key>themeParser</key>
    <string>AroundSnapshotterRate</string>
    <key>controllerToward</key>
    <string>EndPrimalExtensionViewModel</string>
    <key>rowPainterLockAerial</key>
    <string>AlignBrookSetFlash</string>
    <key>summitUpbeat</key>
    <string>FacadeWisdomFillPositioner</string>
    <key>presenterTallAtSolution</key>
    <string>FactoryDismissRange</string>
    <key>breakIdleArray</key>
    <string>TrustworthyScrollSubmit</string>
</dict>
</plist>
