<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stencilFine</key>
    <string>ArtfulCentralReadAbove</string>
    <key>textureChief</key>
    <string>OrderlyPresentAnalyze</string>
    <key>interpreterSense</key>
    <string>PaginateRotateUnder</string>
    <key>factorySaveFertilePlace</key>
    <string>ExtensionThroughCreek</string>
    <key>connectRenderer</key>
    <string>OutlineDirectoryFillChat</string>
    <key>threadedTooltip</key>
    <string>BesideResolverMap</string>
</dict>
</plist>
