<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>lotusFinish</key>
    <string>ConverterDapperClass</string>
    <key>maskViewModel</key>
    <string>ReplaceGoodWidescreenExoticTulip</string>
    <key>transformerFrostClear</key>
    <string>FormatterThicketExpandRavenCheck</string>
    <key>hybridDetect</key>
    <string>PresenterDelegatePiece</string>
</dict>
</plist>
