<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>layoutTheme</key>
    <string>ThroughFabricLoadHolistic</string>
    <key>artfulPresentWorkflowAnimatorController</key>
    <string>OpenDashboardFocalWave</string>
    <key>estuaryLock</key>
    <string>FolderAlongsideBinderMeritFactory</string>
    <key>fabricDecentEnd</key>
    <string>ClearSpaceCollection</string>
    <key>surfaceBonnyEarthOver</key>
    <string>GulfCaptureFactory</string>
    <key>fineEdgeMapIn</key>
    <string>ReferenceWithinForward</string>
    <key>merryAppendFactoryControl</key>
    <string>BrokerValleyDefine</string>
</dict>
</plist>
