<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>markerCozyAround</key>
    <string>EngineStepOrnateAtlasExotic</string>
    <key>afterBroadScheduler</key>
    <string>AirflowWithinPlay</string>
    <key>skillConstructUpdater</key>
    <string>DuringFromCanvasIndex</string>
    <key>terminalRationalStructureOver</key>
    <string>DispatchShowGranularDataSourceProjector</string>
</dict>
</plist>
