<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>viableWorkflowAnimatorOntoWinter</key>
    <string>VividFairyWhiteDatasetter</string>
    <key>atOrchestratorSpoke</key>
    <string>StandOddWith</string>
    <key>spiritHighlightController</key>
    <string>DepotScrollThrottle</string>
</dict>
</plist>
