<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dataSourceProtect</key>
    <string>RoundTupleDefined</string>
    <key>upReferenceBonnyAction</key>
    <string>ArrayCollectorExtensionCollector</string>
    <key>smoothSpectrumChat</key>
    <string>WithoutColumnTribe</string>
    <key>factoryPathwayDecentAccept</key>
    <string>ClusterOceanSmartUpdater</string>
    <key>closeGiganticMindTimeline</key>
    <string>FetchOperandVaporCreate</string>
    <key>parserMajor</key>
    <string>WorkbenchInfinityLedge</string>
    <key>orderlyPresent</key>
    <string>PolicySliceOff</string>
    <key>insideViewUnified</key>
    <string>PrismLoadUponCompress</string>
    <key>timelineShadowSceneFast</key>
    <string>WithinBrightParcelSurface</string>
    <key>owlHelperBright</key>
    <string>ScrollOfMain</string>
</dict>
</plist>
