<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shuffleTemplate</key>
    <string>ObviousOfGenericHelper</string>
    <key>havenOpen</key>
    <string>ConsumeTrustPrint</string>
    <key>treatBuilderSpontaneous</key>
    <string>ResetLegacyHeaderChasm</string>
    <key>extractBalancer</key>
    <string>WritePresentEmitter</string>
    <key>datasetterDiamondShadowed</key>
    <string>TruthViewModelUp</string>
</dict>
</plist>
