<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>outlineTool</key>
    <string>BroadDashboardMergeTurn</string>
    <key>expertFindBuilderVoyage</key>
    <string>FairyTerseOrganizerGentle</string>
    <key>crestPureMapWorkbench</key>
    <string>LayoutAttachIndex</string>
    <key>recordAtlasMap</key>
    <string>ConsolidateStylerLayout</string>
    <key>bindPresenterControllerVibrant</key>
    <string>WithPrintConfigBalancerBelow</string>
    <key>delegateConcurrentTupleEnd</key>
    <string>MoveLocalizePaletteWarehouse</string>
    <key>surfaceForceful</key>
    <string>CuratedFastElasticWidescreen</string>
    <key>ableMeasureTower</key>
    <string>TransformInterpreterPower</string>
    <key>fontViewport</key>
    <string>BlendSpot</string>
</dict>
</plist>
