<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beforeTemple</key>
    <string>PlannerShowPersist</string>
    <key>surfaceEnable</key>
    <string>DurableVisionPoplarFixture</string>
    <key>formatterCreative</key>
    <string>ThrottlePaginateMarkFormal</string>
    <key>loadYieldQuick</key>
    <string>LabelDecodeSet</string>
    <key>bufferInterpreter</key>
    <string>DecodeRecordIn</string>
    <key>paginateValid</key>
    <string>ReturnCliffNatureAmid</string>
    <key>enumSearchUtility</key>
    <string>EliteFlashOwnerTimeline</string>
</dict>
</plist>
