<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>releaseFabricFontRadiant</key>
    <string>CardNavigationBarPreciousWithout</string>
    <key>displayCrestSignerMinimal</key>
    <string>TrimDecompress</string>
    <key>updaterViewModelRoundSecondary</key>
    <string>PlannerMajorSplendidLifecycle</string>
    <key>atFacade</key>
    <string>ColumnHeaderCenterOffConverter</string>
    <key>throughoutPoplar</key>
    <string>SteadySpiceComposer</string>
    <key>stencilWithWorkbenchEqual</key>
    <string>LuminousOptimalFixLaunch</string>
    <key>navigateLoyalDynamicSelector</key>
    <string>LeapComplexGlobalQuota</string>
    <key>urbanPearlTheme</key>
    <string>VigorousViewModelRefinedControl</string>
</dict>
</plist>
