<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>nearInvitingYardTimeline</key>
    <string>GridHandlerSynchronizerWork</string>
    <key>fairyCore</key>
    <string>DeliverCliffSpectrum</string>
    <key>modifyTransformerTame</key>
    <string>ElevatedWithoutDialogEpisodeDrop</string>
    <key>hastyStencil</key>
    <string>ComputeUpdaterUnityGulf</string>
    <key>brilliantCheckViewportFlora</key>
    <string>ShaderExpandSignatureUpdater</string>
</dict>
</plist>
