<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shaderEnqueueBlend</key>
    <string>TempleGladArtfulShadow</string>
    <key>robustUtilityConfigure</key>
    <string>DecoratorMountainSaverPostbox</string>
    <key>layoutOpen</key>
    <string>FormatterTreasureImplementChief</string>
    <key>easyBinderSignalAgainst</key>
    <string>CancelModelSpectrumDurable</string>
    <key>themeShuffleTableTimely</key>
    <string>ParadiseClipGlade</string>
</dict>
</plist>
