<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>reliableDisplayTime</key>
    <string>BirchSchedulerSwirl</string>
    <key>beyondIvory</key>
    <string>NavigateDismissViewModelLocal</string>
    <key>buildSunWarehouseLively</key>
    <string>MenuTrailDefine</string>
    <key>creatorPageFinishIntuitive</key>
    <string>DeriveCloseAttachSave</string>
    <key>meritBrokerResizeCoder</key>
    <string>AnimatePreciousParseFramework</string>
</dict>
</plist>
