<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>helperIn</key>
    <string>AssetApplyDainty</string>
    <key>blitheAssemble</key>
    <string>EqualBinderCoreVital</string>
    <key>organizerSublimeControlPrint</key>
    <string>BreakCalibrateTextureForcefulHide</string>
    <key>ridgeViewport</key>
    <string>HandlerFontBlend</string>
    <key>rotateProjector</key>
    <string>ViewportUnityWide</string>
    <key>reservoirSuite</key>
    <string>ParserLogicHybrid</string>
    <key>shaderLatticeSnappyAssign</key>
    <string>SpectrumSublimeStylerFormatter</string>
    <key>enqueueClever</key>
    <string>FillDesertGenuine</string>
    <key>formatLush</key>
    <string>AlongModernUp</string>
</dict>
</plist>
