<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>migrateAvatar</key>
    <string>InferenceWatchPaintAfter</string>
    <key>fabricOfSwirl</key>
    <string>ValidateBalancerComposer</string>
    <key>symmetricRegister</key>
    <string>ConfigurePolicyAppend</string>
    <key>rendererOrder</key>
    <string>ReturnVisitorCapture</string>
    <key>carefulVisitorReturn</key>
    <string>CrestlineBinderScheduler</string>
    <key>windowSymmetricGenerate</key>
    <string>BeginLocalMarker</string>
    <key>spectrumConcurrent</key>
    <string>StableAtlasGroveTupleFree</string>
</dict>
</plist>
