<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>utilityAttachHumane</key>
    <string>OutlinedMenuElevate</string>
    <key>edgeMapDefineSeamless</key>
    <string>NeatComposerIconPack</string>
    <key>builderBeforeResponsiveSpark</key>
    <string>SnowCreatorShadowHolistic</string>
    <key>hazeEliteFind</key>
    <string>CacheResumeSereneOriginalBeyond</string>
    <key>closeDatasetMinimal</key>
    <string>VisitorMakeSwift</string>
    <key>pastStylerGladeCool</key>
    <string>FabricFlagshipVerifyDatasetter</string>
    <key>portBreezyDraw</key>
    <string>StencilToAtlasPause</string>
</dict>
</plist>
