<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>afterTupleWildLane</key>
    <string>SnowReferenceConverter</string>
    <key>updaterAcceptJungleHumane</key>
    <string>RunControllerBanner</string>
    <key>nativeMagicCompressBroker</key>
    <string>InReadGulf</string>
    <key>outputIntenseBeginTerminal</key>
    <string>LifecycleWarehouseEmitter</string>
    <key>helperTerrainNative</key>
    <string>OverlayElevateReferencePerform</string>
    <key>momentMake</key>
    <string>FallsHeathFocalTimer</string>
    <key>selectHandyValue</key>
    <string>GoodPeak</string>
    <key>transformerTreasureModal</key>
    <string>DistantMigrateFromSand</string>
    <key>highlightSignerLucent</key>
    <string>FeatureMountArtfulParadiseSet</string>
    <key>fetchRealCrown</key>
    <string>ComposerPauseUpdater</string>
</dict>
</plist>
