<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>abstractTypeVisualizeTimeline</key>
    <string>OpenFacadeRefinedMigrate</string>
    <key>importRendererBalancer</key>
    <string>RotateToGlobePrime</string>
    <key>mapperAboveGlad</key>
    <string>SignerScopeTopmostVisitor</string>
    <key>deepRendererYieldingWithin</key>
    <string>ShaderPushComposerHelperIvory</string>
    <key>appendElementOrganizerGenerous</key>
    <string>WavyControllerWatch</string>
    <key>scaffoldTenseImplement</key>
    <string>SignerSpectrumHelixFlash</string>
    <key>methodWorkbenchRefresh</key>
    <string>OrchestratorRendererJasper</string>
    <key>suiteFlow</key>
    <string>DawnMountainOff</string>
    <key>stylerFinishInletSweet</key>
    <string>BlockStay</string>
    <key>writePlanner</key>
    <string>CarefreeNavigatePersist</string>
</dict>
</plist>
