<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gladeMask</key>
    <string>StormAroundStore</string>
    <key>stencilHealthy</key>
    <string>FormatEnumMature</string>
    <key>clearPage</key>
    <string>ModestParseResumeEnable</string>
    <key>unityUnit</key>
    <string>ModelHighlightReplaceWith</string>
    <key>rockReturn</key>
    <string>TemplateCreateGrandMaterial</string>
    <key>clearHeartyCluster</key>
    <string>LockTrimWinsomeJade</string>
    <key>navigatorStyler</key>
    <string>MountCoordinateSetCancel</string>
    <key>defineStopQuality</key>
    <string>BreakDownTexture</string>
</dict>
</plist>
