<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shaderFocusFor</key>
    <string>StrengthUpdateAtPlace</string>
    <key>duringWideTrigger</key>
    <string>TextureFabricAt</string>
    <key>zealousAttachDecorator</key>
    <string>DistantForest</string>
    <key>guidebookPauseYoungTuple</key>
    <string>SplashTopStencilStencil</string>
    <key>pristinePaletteRotateReference</key>
    <string>RealQuiet</string>
    <key>searchPeerlessCoordinator</key>
    <string>SplitSelectorWorkbenchInference</string>
    <key>arrayPreloadSwirl</key>
    <string>LoadDecompressSternSlip</string>
</dict>
</plist>
