<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>selectorFluentLevel</key>
    <string>TribeLandscapeDown</string>
    <key>fillPreloadTimelineRich</key>
    <string>SpriteSetTone</string>
    <key>willowTransformerDense</key>
    <string>NearMakeThreadedResolver</string>
    <key>intoUpdaterPageBright</key>
    <string>RefreshConnectHandler</string>
    <key>validSendCrossTexture</key>
    <string>BeginManifestExpandArray</string>
    <key>presenterByCanvas</key>
    <string>StencilMountDesertScale</string>
</dict>
</plist>
