<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>acceleratePaletteBulkyDatasetter</key>
    <string>FillEnqueueTrain</string>
    <key>mainViewModelMakeSwirl</key>
    <string>ProjectorPreviewFile</string>
    <key>fontDecompressIntenseCoordinator</key>
    <string>ForTextureSceneJewelPrompt</string>
    <key>signerObjectWealthySend</key>
    <string>RangeFlashCompare</string>
    <key>animateNodeVirtuous</key>
    <string>ProjectorSpacerLayoutPearl</string>
    <key>createBroker</key>
    <string>MapIdleCheckResolver</string>
    <key>balancerCivicBase</key>
    <string>SwirlSpriteStopOverUnit</string>
</dict>
</plist>
