<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>errorSplendid</key>
    <string>InsideMeritShadow</string>
    <key>collectorHandler</key>
    <string>SereneBalancerSlide</string>
    <key>lucentOverVesselTemplate</key>
    <string>GeneratorSplashDismiss</string>
    <key>decoratorSwirl</key>
    <string>CreatorTowerWithMultiply</string>
    <key>mutualCore</key>
    <string>CleanFromFreeComplex</string>
    <key>revokeTooltipTextureCautious</key>
    <string>TheorySpeakUpdateAppBar</string>
    <key>continueStencil</key>
    <string>AgileDeriveCard</string>
    <key>dramaticConverter</key>
    <string>OnAboveAssemblerFacade</string>
    <key>vividVineShowFormatter</key>
    <string>PresentValidateClip</string>
    <key>beforeEminentScheduler</key>
    <string>OrganizerBeforeWander</string>
</dict>
</plist>
