<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ultimateCrossBeneath</key>
    <string>WingMakeOrder</string>
    <key>templateSpeakPush</key>
    <string>ThinAmongShade</string>
    <key>giftedTuple</key>
    <string>DryIndexAppendMist</string>
    <key>deepTallBehindShader</key>
    <string>VolumePathLocalizeConvert</string>
</dict>
</plist>
