<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mobileOff</key>
    <string>LockVoyageDecoratorDirect</string>
    <key>closeViewModelParcelVocal</key>
    <string>BaseCommandUnityGorge</string>
    <key>textureTurnTranslateFocused</key>
    <string>HumaneInsideAppBar</string>
    <key>launchOrganizer</key>
    <string>ChainValidateSplendidFile</string>
    <key>minimalInsertCoreScrollView</key>
    <string>ProfileGeneratorPaginateCrestMine</string>
    <key>definedDispatch</key>
    <string>InMuseRelayToward</string>
    <key>collectorRelayPack</key>
    <string>QuickSandDriverConductor</string>
</dict>
</plist>
